<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(titre)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titre}">MediLabo Solutions</title>
    <link rel="stylesheet" th:href="@{/css/pico.min.css}">
</head>

<body>

<header th:fragment="header">
    <nav class="container">
        <ul>
            <li><strong><a th:href="@{/patients}">MediLabo Solutions</a></strong></li>
        </ul>
    </nav>
</header>

<footer th:fragment="footer">
    <div class="container">
        <small>MediLabo Solutions</small>
    </div>
</footer>

</body>
</html>
