<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/layout :: head('Page introuvable')}"></head>

<body>

<header th:replace="~{fragments/layout :: header}"></header>

<main class="container">
    <hgroup>
        <h1>Page introuvable</h1>
        <p>Erreur 404</p>
    </hgroup>
    <p th:text="${message}">La ressource demandée n'a pas été trouvée.</p>
    <p><a th:href="@{/patients}">Retour à la liste des patients</a></p>
</main>

<footer th:replace="~{fragments/layout :: footer}"></footer>

</body>
</html>
